<main>
    <div class="container body-container well">
        <div class="">
            <div id="main" class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-4 right">
                                <label class="text-black">Email addres:</label>
                            </div>
                            <div class="col-sm-8">
                                <span th:text="${user.email}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-4 right">
                                <label class="text-black">User full name:</label>
                            </div>
                            <div class="col-sm-8">
                                <span th:text="${user.fullName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>